<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generate Secret Message</title>
</head>
<body>

<form action="" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="" placeholder="Message Title">
    <label for="message">Secret Message:</label>
    <textarea name="message" id="message" cols="30" rows="10" required placeholder="Secret message goes here"></textarea>
    <label for="password">Encryption password:</label>
    <input type="password" id="password" name="password" required placeholder="Enter a password to encrypt your message">
    <label for="maxAllowedViews">Maximum Views Allowed:</label>
    <input type="number" id="maxAllowedViews" name="maxAllowedViews">
    <label for="expiresIn">Expires in (Minutes):</label>
    <input type="number" id="expiresIn" name="expiresIn" placeholder="Enter minutes until expiration">
<button type="submit">Create</button>
</form>
</body>
</html>